<h1>Please sign in </h1>
<% if flash[:notice] %>
    <div id="error_explanation"><%= flash[:notice] %></div>
 <% end %>

<%= form_for :user, url: '/login', method: :post do |f| %>
   <%= f.label :username%>
   <%= f.text_field :username %><br>

   <%= f.label :password%>
   <%= f.password_field :password %><br>

   <%= f.submit "Login" %>
<% end %>

<br>
 <%= link_to 'Sign In with Github', '/auth/github' %>

<h1>If you are new, please sign up</h1>
<%= link_to 'Sign Up', '/signup' %>
