<h1>Please sign in </h1>
<% if flash[:notice] %>
    <div id="error_explanation"><%= flash[:notice] %></div>
 <% end %>

<%= form_for :user, url: '/auth/:provider/callback', method: :get do |f| %>
   <%= f.label :name%>
   <%= f.text_field :name %><br>

   <%= f.label :username%>
   <%= f.text_field :username %><br>

   <%= f.label :password%>
   <%= f.password_field :password %><br>

   <%= f.submit "Login" %>
<% end %>

<br>
<% if current_user.blank? %>
  <%= link_to 'Sign In with Github', '/auth/github' %><br>
<% else %>
  <p>
    You are signed in as <%= current_user.username %>.  Click the button below to sign out.
  </p>

  <%= button_to "Sign Out", signout_path, method: :delete %>
<% end %>
