<h1>Sign Up</h1>
<div class='new-user-error'>
  <% if flash[:notice] %>
      <% flash[:notice].each do |message|%>
        <%= message %><br>
      <% end %>
  <% end %>
</div>

<%= form_for @user, url: signup_path, method: :post do |f| %>
   <%= f.label :username%>
   <%= f.text_field :username %><br>

   <%= f.label :password%>
   <%= f.password_field :password %><br><br>

   <%= f.submit "Sign Up", :class => 'submit-button'%>
<% end %>
