<% if @restaurant.errors.any? %>
   <div id="error_explanation">
     <h2>Unfortunately, there were some errors. Please try again. </h2>
     <ul>
       <% @restaurant.errors.messages.each do |message| %>
         <li><%= message[1].join %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<%= form_for @restaurant do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :price_range, "Price Range" %>
<%= f.text_field :price_range %> <br>

<%= f.label :takeS_reservations, "Takes Reservations?" %>
<%= f.select :takeS_reservations, options_for_select(["", "yes", "no"])%> <br>

<%= f.label :parking %>
<%= f.text_field :parking %> <br>

<%= f.label :wifi, "Wifi?"%>
<%= f.select :wifi, options_for_select(["", "yes", "no"])%> <br>


<%= f.label :occasion %>
<%= f.select :occasion, options_for_select(["", "full meal", "fast food", "casual", "brewery", "small plates", "drinks", "other"])%> <br>

<%= f.fields_for :locations do |l| %>
  <%= l.label :city %>
  <%= l.text_field :city %> <br>

  <%= l.label :state %>
  <%= l.text_field :state %>

  <%= l.hidden_field :user_id, :value => @user.id%>
<% end %>
<br>
<%= f.label :rating, "Rating (Out of 5)" %>
<%= f.text_field :rating %> <br>

<%= f.label :comment %>
<%= f.text_field :comment %> <br>

<%= f.submit %>
<% end %>
<i> Name and state are required </i>
