<h2>List of All Restaurants in the Database with Wifi</h2>
<br>Search by Price Range:
<%= form_tag all_restaurants_in_database_path, method: :get do %>
  <p>
    <%= text_field_tag :query %><br><br>
    <%= button_to "Search Restaurant"%>
    <%= button_to "Clear Filter", all_restaurants_in_database_path, method: :get%>
  </p>
<% end %>



<% @restaurants.each do |r| %>
  <h4><%= link_to r.name, restaurant_path(r) %> </h4>
  <ul>
    <li>Price Range: <%= r.price_range %> </li>
    <li>Parking: <%= r.parking %> </li>
    <li>Good For: <%= r.occasion %> </li>
    <li>Takes Reservations: <%= r.takeS_reservations %> </li>
    <li> Location: <%=r.locations.last.city_and_state %> </li>
  </ul>
<% end %>
