<br><br><br><br>
<div style="color: white">
  <h4>Welcome <%= current_user.username %>! You are successfully logged in.</h4>

  <h1>My Restaurants</h1>
  <ol>
  <% @restaurants.each do |r| %>
    <li><h3><%= link_to r.name, restaurant_path(r) %>
      <div class="itemNames-<%=r.id%> "></div>
      <button class="show" data-id="<%= r.id %>">Show Menu Items </button>
      <button class="hide" data-id="<%= r.id %>">Hide Menu Items </button>
    </li>

  <% end %>
  </ol>
  <br>
  <%= button_to "Create New Restaurant", new_restaurant_path, method: :get%><br>
</div>
