<h1>Please fill in what you know about your new restaurant</h1>

<% if @restaurant.errors.any? %>
   <div id="error_explanation">
     <h2>Unfortunately, there were some errors:</h2>
     <ul>
       <% @restaurant.errors.messages.each do |message| %>
         <li><%= message[1].join %></li>
       <% end %>
     </ul>
   </div>
 <% end %>


<%= form_for @restaurant do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :price_range %>
<%= f.text_field :price_range %> <br>

<%= f.label :reservations? %>
<%= f.text_field :reservations? %> <br>

<%= f.label :parking %>
<%= f.text_field :parking %> <br>

<%= f.label :wifi %>
<%= f.text_field :wifi %> <br>

<%= f.label :occasion %>
<%= f.text_field :occasion %> <br>

<%= f.fields_for :locations do |l| %>
  <%= l.label :city %>
  <%= l.text_field :city %> <br>

  <%= l.label :state %>
  <%= l.text_field :state %>

  <%= l.hidden_field :user_id, :value => @user.id%>
<% end %>

<%= f.submit %>
<% end %>
<i> Name and state are required </i>
