<h1><i>Please fill in what you know about your restaurant</i></h1>

<% if @restaurant.errors.any? %>
     <h2>Unfortunately, there were some errors. Please try again. </h2>
     <ul>
       <% @restaurant.errors.messages.each do |message| %>
         <li><%= message[1].join %></li>
       <% end %>
     </ul>
 <% end %>

<%= form_for @restaurant do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :price_range, "Price Range" %>
<%= f.text_field :price_range %> <br>

<%= f.label :takeS_reservations, "Takes Reservations?" %>
<%= f.select :takeS_reservations, options_for_select(["", "Yes", "No"])%> <br>

<%= f.label :parking %>
<%= f.text_field :parking %> <br>

<%= f.label :wifi, "Wifi?"%>
<%= f.select :wifi, options_for_select(["", "Yes", "No"])%> <br>

<%= f.label :occasion %>
<%= f.select :occasion, options_for_select(["", "Full Meal", "Diner", "Fast Food", "Casual", "Brewery", "Small Plates", "Drinks", "Other"])%> <br>

<%= f.label :rating, "Rating (Out of 5)" %>
<%= f.text_field :rating %> <br>

<%= f.label :comment %>
<%= f.text_field :comment %> <br><br>
<i>Please note you will be unable to edit the locations after this page.</i>
<%= f.fields_for :locations do |l| %>
  <p><%= l.label :city %>
  <%= l.text_field :city %>

   <%= l.label :state %>
  <%= l.text_field :state %></p>

   <%= l.hidden_field :user_id, :value => @user.id%>
<% end %>
<br>

<%= f.submit :id => 'newRestaurant' %>
<% end %>

<h1>Or Create a New Restaurant This Way</h1>
<button id="create_new">Create New Restaurant </button>
<div id="new-restaurant-form">

</div>
