<h1><%= @restaurant.name %> </h1>
<ul>
  <li>Good for: <%=@restaurant.occasion %> </li>
  <li>Price Range: <%=@restaurant.price_range %> </li>
  <li>Accepts reservations? <%=@restaurant.takeS_reservations %> </li>
  <li>Has Wifi? <%= @restaurant.wifi %> </li>

  <li>Location(s): <% @restaurant.locations.each do |l| %>
    <%= l.city_and_state %>,
  <% end %> </li>
  <li>Rating (Out of 5): <%= @restaurant.rating %> </li>
  <li>Comments: <%=@restaurant.comment %> </li>
  <li>Menu Items: <% @restaurant.items.each do |i| %>
    <ul>
      <li><%= i.name %></li>
    </ul>
  <% end %> </li>
</ul>

<%= link_to "View All Items to See Detail Or Add More If This Is Your Restaurant", restaurant_items_path(@restaurant)  %><br><br>
<% if current_user.id == @restaurant.locations.first.user_id %>
  <%= link_to "Edit this Restaurant", edit_restaurant_path(@restaurant)%><br><br>
  <%= link_to "Delete this Restaurant", restaurant_path(@restaurant), method: :delete %><br><br>
<% end %>
<%= link_to "Back to My Restaurants", restaurants_path %> <br><br>


<br>
	<button id='restaurants'>Get All Restaurants</button>
  <h1>All the restaurants</h1>
    <div id="allTheRestaurants"></div>
