<h1><%= @restaurant.name %> </h1>
<ul>
  <li>Good for: <%=@restaurant.occasion %> </li>
  <li>Price Range: <%=@restaurant.price_range %> </li>
  <li>Accept reservations: <%=@restaurant.reservations?%> </li>
  <li>Wifi? <%= @restaurant.wifi %> </li>
  <li>Location: <%= @restaurant.location %> </li>
</ul>

<%= link_to "Back to Restaurants", restaurants_path %> <br>
<%= link_to "Edit this Restaurant", edit_restaurant_path(@restaurant)%><br>
<%= link_to "View this Restaurant's Items", restaurant_items_path(@restaurant) %>
