<h1><%= @restaurant.name %> </h1>
<ul>
  <li>Good for: <%=@restaurant.occasion %> </li>
  <li>Price Range: <%=@restaurant.price_range %> </li>
  <li>Accepts reservations? <%=@restaurant.takeS_reservations %> </li>
  <li>Has Wifi? <%= @restaurant.wifi %> </li>

  <li>Location(s): <% @restaurant.locations.each do |l| %>
    <%= l.city_and_state %>
  <% end %> </li>
  <li>Rating (Out of 5): <%= @restaurant.rating %> </li>
  <li>Comments: <%=@restaurant.comment %> </li>
  <li>Menu Items: <% @restaurant.items.each do |i| %>
    <ul>
      <li><%= i.name %> <a href="#" class="js-item-detail" data-id="<%= i.id %>" rest-id="<%= @restaurant.id %>"><%= fa_icon "info-circle" %></a>
        <% if current_user.id == @restaurant.locations.first.user_id %>
          <%= link_to "#{fa_icon "edit"}".html_safe, edit_restaurant_item_path(@restaurant, i) %>
          <%= link_to "#{fa_icon "trash"}".html_safe, restaurant_item_path(@restaurant, i), method: :delete%>  </li>
          <% end %>
        <div class="itemVeg-<%=i.id%>"></div>
        <div class="itemCalories-<%=i.id%>"></div>
        <div class="itemPrice-<%=i.id%>"></div>
        <div class="itemCategory-<%=i.id%>"></div>
    </ul>
  <% end %> </li>
</ul>

<% if current_user.id == @restaurant.locations.first.user_id %>
  <%= link_to "#{fa_icon "plus"}".html_safe + " Item", new_restaurant_item_path(@restaurant), class: "rest-show-link" %><br>
  <%= link_to "#{fa_icon "edit"}".html_safe + " " +@restaurant.name, edit_restaurant_path(@restaurant), class: "rest-show-link"  %><br>
  <%= link_to "#{fa_icon "trash"}".html_safe + " " +@restaurant.name, restaurant_path(@restaurant), method: :delete, class: "rest-show-link" %><br>
<% end %>

 <%= link_to "#{fa_icon "undo"}".html_safe + " All Restaurants", restaurants_path, class: "rest-show-link"   %>