<% if item.errors.any? %>
     <h2>Unfortunately, there were some errors. Please try again. </h2>
     <ul>
       <% item.errors.full_messages.each do |message| %>
         <li><%= message%></li>
       <% end %>
     </ul>
 <% end %>

<%= form_for item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :vegetarian %>
  <%= f.select :vegetarian, options_for_select(["", "Yes", "No"], item.vegetarian)%> <br>

  <%= f.label :calories %>
  <%= f.text_field :calories %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.label :category %>
  <%= f.select :category, options_for_select(["", "Beverage", "Main Meal", "Snack", "Appetizer", "Side", "Dessert"], item.category)%> <br>

  <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  <br>
  <%= f.submit "Submit", :class => 'submit-button' %>
<% end %>
