<h1> Menu Items for all restaurants </h1>

<% @items.each do |i| %>
  <li><%= link_to i.name_with_restaurant, item_path(i) %></li>
<% end %>

<br><%= link_to "Create a New Item", new_item_path %>
<br><%= link_to "Back to All Items", items_path %>
<br><%= link_to "Back to Home", welcome_path %>
<%= link_to "Log Out", signout_path %>
