<h3>Create an Item for <%= @restaurant.name %> </h3>
<%= render partial: 'form', locals: {item: @item} %>

<div id="itemResult">
</div>

<% if current_user.id == @restaurant.locations.first.user_id %>
<br> <%= link_to "#{fa_icon "undo"}".html_safe + " " +@restaurant.name, restaurant_path(@restaurant), class: "rest-show-link"   %>
  <br><%= link_to "#{fa_icon "plus"}".html_safe + " Another Item", new_restaurant_item_path(@restaurant), class: "rest-show-link" %><br>
  <%= link_to "#{fa_icon "undo"}".html_safe + " All Restaurants", restaurants_path, class: "rest-show-link"   %>
<% end %>