<h1><%= @item.name %> </h1>
<ul>
  <li>Name: <%= @item.name %> </li>
  <li>Vegetarian? <%= @item.vegetarian? %> </li>
  <li>Calories: <%= @item.calories %> </li>
  <li>Lunch Special? <%= @item.lunch_special? %> </li>
  <li>Price: <%= @item.price %> </li>
  <li>Category: <%= @item.category %> </li>
</ul>

<%= link_to "Delete this Item", item_path, method: :delete %> <br>
<%= link_to "Edit this Item", edit_item_path(@item) %><br>
<%= link_to "Back to All Items", restaurant_items_path(@item.restaurant) %><br>
