<h1> <%= @item.name %> </h1>
<ul>
  <li>Vegetarian: <%= @item.vegetarian %></li>
  <li>Calories:<%= @item.calories %></li>
  <li>Price: <%= @item.price %></li>
  <li>Category: <%= @item.category%> </li>
</ul>
  
<%= link_to "Back to My Restaurants", restaurants_path %> <br><br>
