<h2>List of All Restaurants in the Database</h2>
<br>Search by State:
<br> <i>Enter a state OR select from existing </i>
<%= form_tag all_restaurants_in_database_path, method: :get do %>
  <p>
    Enter State: <%= text_field_tag :query_search %><br>
    Or Select Existing State:

    <%=select_tag :query_existing, options_from_collection_for_select(Location.options, :state, :state, :state), prompt: "Please Select"%>

    <br> <br>
    <%= button_to "Search State"%>
    <%= button_to "Clear Filter", all_restaurants_in_database_path, method: :get%>
  </p>
<% end %>

<%= link_to "Back to My Restaurants", restaurants_path %>

<% @location.each do |l| %>
  <ul>
    <h4><%= l.restaurant.name %> </h4>
    <li>Location: <%= l.city %>, <%= l.state %> </li>
    <li>Price Range: <%=l.restaurant.price_range %> </li>
    <li>Wifi: <%=l.restaurant.wifi %> </li>
    <li>Parking Type:<%=l.restaurant.parking %> </li>
    <li>Good For: <%=l.restaurant.occasion %> </li>
    <li>Takes Reservations: <%=l.restaurant.takeS_reservations %> </li>
    <li>Rating: <%=l.restaurant.rating %> </li>
    <li>Comment: <%=l.restaurant.comment %> </li>
  </ul>
<% end %>
