<h2>List of All Restaurants in the Database</h2>
<h4><u>Search by State:</u></h4>

<%= form_tag all_restaurants_in_database_path, method: :get do %>
  <p>
    Enter State: <%= text_field_tag :query_search %>

    OR Select Existing State:

    <%=select_tag :query_existing, options_from_collection_for_select(Location.options, :state, :state, :state), prompt: "Please Select"%>
    <br><br> <%= button_to "Search State"%>
    <br>

    <%= button_to "Clear Filter", all_restaurants_in_database_path, method: :get%>
  </p>
<% end %>

<h3><%= @state %></h3>
<% if @location%>
    <% @location.each do |l| %>
      <ul>
        <li><%=link_to l.restaurant.name, restaurant_path(l.restaurant)%> - <%= l.city_and_state %> </li>
        <div class="itemNames-<%=l.restaurant.id%> "></div><br>
        <button class="show" data-id="<%= l.restaurant.id %>">Show Menu Items </button>
        <button class="hide" data-id="<%= l.restaurant.id %>">Hide Menu Items </button>
      </ul>
    <% end %>
  <% end %>
