<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application'%>
</head>
<style>
  .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255,255,255,.7);
}

h1 {
  font-size: 3em;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 15px arial, sans-serif;
}

.wrapper {
  background-color: rgb(0, 0, 0, 0.25);
  color: white;
  margin: 16px auto;
  max-width: 1000px;
  padding: 4%;
  font: 15px arial, sans-serif;
}

body {
  background: url(https://images.unsplash.com/photo-1548172639-78b9a845fccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button {
  background-color: #F08080;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a { color: white;}

</style>
  <body>
<br>
<div class="nav">
  <ul>
  <li><%=link_to "New Restaurant", new_restaurant_path %> </li>
  <li><%= link_to "My Restaurants", restaurants_path %> </li>
  <li><%= link_to "All Restaurants", all_restaurants_in_database_path%> </li>
  <li style="float:right"><%= link_to "Sign out", signout_path%></li>
</ul>
</div>
<br><br><br><br><br><br>
<div class="wrapper">
    <%= yield %>
</div>
</body>
</html>
